# 02.01 - BASIC STRUCTURES

In [1]:
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/rramosp/ai4eng.v1/main/content/init.py
import init; init.init(force_download=False); init.get_weblink()

replicating local resources

## Introduction to Python

Python is **interpreted** and **dynamically typed**. Observe in the following lines:

- variables `a` and `b` have specific data types even if they are not explicitly defined.
- python guesses their types by how they are being used (`\\` is integer division, while `\` is floating point division)
- python keeps executing stuff while no error is found $\rightarrow$ python is interpreted

In [ ]:
a = 4
print (a, type(a))

4 <class 'int'>

In [ ]:
b = 9.
print (a, type(b))

4 <class 'float'>

In [ ]:
c = 9/4
print (c, type(c))

2.25 <class 'float'>

In [ ]:
d = 9//4
print (d, type(d))
print (x)

2 <class 'int'>

NameError: name 'x' is not defined

but types can be enforced, or used for data conversion

In [ ]:
a = 1
b = float(a)
print (a, "::", b)

1 :: 1.0

In [ ]:
s = "el valor de 'a' es "+str(a)
print (s)

el valor de 'a' es 1

## Notebook cell outputs

In [ ]:
a = 1
b = float(a)
a,b

(1, 1.0)

In [ ]:
a = 1
a
b = float(a)
b

1.0

In [ ]:
a = 1
print (a)
b = float(a)
b

1

1.0

## Lists

ordered sequences of objects of **any** kind with cool indexing.

indexing **starts at zero**.

In [2]:
b = [1,10, 20.5, "hola", 10., 12, 13, 14., 15,16, 17., 18, 19, 20.]

In [3]:
print (len(b))

14

In [4]:
type(b[8])

int

In [5]:
print(b[8])

15

In [ ]:
print (b[:3])

[1, 10, 20.5]

In [ ]:
print (b[3:])

['hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18, 19, 20.0]

In [ ]:
print (b[-3:])

[18, 19, 20.0]

In [ ]:
print (b)

10.0

In [6]:
print(b)
print (b[5:10]) #Para extraer valores de la lista "b", la sintaxis dentro de "[]" sería: [n:n-1]"
# Donde "n" es el índice de la ubicación en la lista. El valor despues de ":" sería el valor ubicado
# en el índice n-1. Es decir, si es b([:10]), no toma el valor del indice 10 sino el de 9

[1, 10, 20.5, 'hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18, 19, 20.0]
[12, 13, 14.0, 15, 16]

In [ ]:
print (b[-5:-2]) #Se puede acceder a los valor de la lista con valores del indice negativos.
# Corresponderia al valor del indice, pero en sentido contrario. El indice -1 seria el ultimo valor.

[16, 17.0, 18]

In [ ]:
print (b[::2]) #Todos los elementos de la lista, pero de 2 en 2.

[1, 20.5, 10.0, 13, 15, 17.0, 19]

In [ ]:
print (b[::-1])

[20.0, 19, 18, 17.0, 16, 15, 14.0, 13, 12, 10.0, 'hola', 20.5, 10, 1]

In [ ]:
b.append('elfin') #Añade el elemento dentro del "()" al final de la lista.
b

[1, 10, 20.5, 'hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18, 19, 20.0, 'elfin']

In [8]:
c=['Hola', 'Como estas']
b.append(c)
print(b)
#Agrega el valor de "c" al final de la lista.
#Queda una la lista c dentro de la lista b

[1, 10, 20.5, 'hola', 10.0, 12, 13, 14.0, 15, 16, 17.0, 18, 19, 20.0, ['Hola', 'Como estas']]

can use variables as indexes

In [12]:
import numpy as np
i = np.random.randint(len(b)) #Devuelve un número aleatorio entre 0 y el valor dentro de () menos 1
print (i, '-->', b[i])

7 --> 14.0

In [10]:
len(b)

15

truly **any** object

In [13]:
a = 32
b = 10
s = [1,2,3,"hola", [10, "nunca", 90], a==b, -32]

In [ ]:
a==b #Operador booleano de comparación. Devuelve True or False, dependiendo si los valores son iguales.

In [14]:
print (s)

[1, 2, 3, 'hola', [10, 'nunca', 90], False, -32]

In [ ]:
print (len(s))

7

In [ ]:
s[4]

[10, 'nunca', 90]

In [ ]:
s[4][1] #Como en 4 hay una lista, el siguiente "[]" accede al valor i=1 de esta lista

'nunca'

In [17]:
s[1][0] #Si el valor es un int causa error, porque no es posible acceder ya que es un entero.

TypeError: 'int' object is not subscriptable

In [ ]:
s[3][1]

'o'

In [ ]:
s[2][1]

TypeError: 'int' object is not subscriptable

**some list operations**

In [23]:
f = ["hola", 2, "adios"]
g = [-10., 1, [3, 4]]

In [ ]:
a + b #Concatenar listas (sumarlas)

['hola', 2, 'adios', -10.0, 1, [3, 4]]

In [ ]:
a + a

['hola', 2, 'adios', 'hola', 2, 'adios']

In [ ]:
a*2

['hola', 2, 'adios', 'hola', 2, 'adios']

In [24]:
z=f*g
print(z)

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
a - b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
2 in a

True

In [ ]:
"hola" not in b

True

In [ ]:
[3,4] in b

True

## Strings

a string is like a special kind of list

In [26]:
a = "en un lugar de la mancha"
a

'en un lugar de la mancha'

In [ ]:
a[3:]

'un lugar de la mancha'

In [ ]:
a[-10:]

' la mancha'

In [ ]:
a[::-1]

'ahcnam al ed ragul nu ne'

In [ ]:
a[::2]

'e nlgrd amnh'

In [ ]:
'lugar' in a

True

with special operations

In [ ]:
words = a.split()
words
#Si el .split no tiene argumento, divide el string en cada espacio que encuentre

['en', 'un', 'lugar', 'de', 'la', 'mancha']

In [ ]:
"::".join(words)

'en::un::lugar::de::la::mancha'

In [ ]:
a.upper()

'EN UN LUGAR DE LA MANCHA'

In [ ]:
a.startswith("en")

True

In [ ]:
a.endswith("lugar")

False

In [29]:
a.find('lugar') #Devuelve el indice de la pocisión donde inicia la cadena "lugar"

0

In [ ]:
a[a.find('lugar'):]
#Se puede usar directamente como argumento

'lugar de la mancha'

## `for` loops

unlike other languages, `for` loops are defined over **iterables**. A `list` is an iterable, and there are many other iterables.

Python syntax is **indented**.

Observe python determines the semantics of `*` according to the context

In [30]:
#Ciclos for se definen sobre iterables, como las listas, vectores, diccionarios, etc
b = [1,10, 20.5, "hola", 10.]

In [ ]:
for i in b:
    print (i, "-->", type(i), "x2 -->", i*2)

1 --> <class 'int'> x2 --> 2
10 --> <class 'int'> x2 --> 20
20.5 --> <class 'float'> x2 --> 41.0
hola --> <class 'str'> x2 --> holahola
10.0 --> <class 'float'> x2 --> 20.0

another example of python as interpreted language

In [ ]:
b = [1,10, 20.5, "hola", 10.]
for i in b:
    print (i, "-->", type(i), "x2 -->", i**2)

1 --> <class 'int'> x2 --> 1
10 --> <class 'int'> x2 --> 100
20.5 --> <class 'float'> x2 --> 420.25

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

**iterators**

sometimes we do not need to hold all the contents of a list in memory, but they can be generated as they are being asked for.

In [35]:
k = range(-3,10,2)
k
#Range(n,m,b) define una secuencia dada por:
# n: Primer valor de la secuencia
# m: límite superior de la secuencia, sin incluir el valor m. Llega hasta m-1
# b: paso de la secuencia

range(-3, 10, 2)

In [34]:
print(k)

range(-3, 10, 2)

In [39]:
list(range(10, -3, -2))

[10, 8, 6, 4, 2, 0, -2]

size in memory

In [40]:
k.__sizeof__() # Tamaño de memoria de k

48

In [ ]:
for i in k:
    print (i, end=", ")

-3, -1, 1, 3, 5, 7, 9,

In [ ]:
big_range = range(0,100000,2)
big_range.__sizeof__()

48

In [ ]:
s = 0
for i in big_range:
    s += i
s

2499950000

if converted to a list, then they are physically in memory

In [ ]:
a = list(big_range)
a.__sizeof__()

450088

zip iterators

In [2]:
a = ["nada", "adios", 10.]
b = [1,10, 20.5, "hola", 10.]

for i,j in zip(a,b):
    print (i,j)

nada 1
adios 10
10.0 20.5

In [3]:
for elem in a:
  print(elem)

nada
adios
10.0

In [5]:
for idx,elem in enumerate(a):
  print("elem at index", idx, "is", elem)

elem at index 0 is nada
elem at index 1 is adios
elem at index 2 is 10.0

## Other control structures

string formatting / if / then / break / continue / while, etc.

In [9]:
b = [1,10, 20.5, "hola", 10., 12]
for i in b:
    if i=='hola':
        print('Voy a parar el bucle')
        break
    print (i, type(i))

1 <class 'int'>
10 <class 'int'>
20.5 <class 'float'>
Voy a parar el bucle

In [ ]:
b = [1,10, 20.5, "hola", 10., 12]
for i in b:
    if i=='hola':
        break
    elif type(i)==int:
        print ("INT", end=" ")
    elif i>10:
        print (">10", end=" ")
    print (i, type(i))

INT 1 <class 'int'>
INT 10 <class 'int'>
>10 20.5 <class 'float'>

In [ ]:
for pos, i in enumerate(b):
    if i=='hola':
        continue
    print ("%02d :: %5.1f :: %20s"%(pos,i,type(i)))

00 ::   1.0 ::        <class 'int'>
01 ::  10.0 ::        <class 'int'>
02 ::  20.5 ::      <class 'float'>
04 ::  10.0 ::      <class 'float'>
05 ::  12.0 ::        <class 'int'>

In [ ]:
i=1
while i<len(b):
    print (i, b[i], type(b[i]))
    i += 1

1 10 <class 'int'>
2 20.5 <class 'float'>
3 hola <class 'str'>
4 10.0 <class 'float'>
5 12 <class 'int'>

## Dictionaries

In [18]:
# d = {key : value}
d = {"i1": 16, "nombre": "haskel", "edad": 32, 20: "el numero 20"}

d['i1']

16

In [16]:
len(d['nombre'])

6

In [ ]:
d[20]

'el numero 20'

In [ ]:
d.values()

dict_values([16, 'haskel', 32, 'el numero 20'])

In [ ]:
d.keys()

dict_keys(['i1', 'nombre', 'edad', 20])

In [23]:
d

{'i1': 16, 'nombre': 'haskel', 'edad': 32, 20: 'el numero 20'}

In [ ]:
for i in d.keys():
    print("la clave", i, "tiene el valor", d[i])

la clave i1 tiene el valor 16
la clave nombre tiene el valor haskel
la clave edad tiene el valor 32
la clave 20 tiene el valor el numero 20

In [31]:
d.items()

dict_items([('i1', 16), ('nombre', 'haskel'), ('edad', 32), (20, 'el numero 20')])

In [33]:
for k,v in d.items():
    print("la clave", k, "tiene el valor", v)

la clave i1 tiene el valor 16
la clave nombre tiene el valor haskel
la clave edad tiene el valor 32
la clave 20 tiene el valor el numero 20

and can be updated

In [36]:
# Se pueden agregar elementos al diccionario: [key] = value
d[48] = "otro numero"
d["nada"] = 0
print(d)

{'i1': 16, 'nombre': 'haskel', 'edad': 32, 20: 'el numero 20', 48: 'otro numero', 'nada': 0}

In [37]:
a= "New"
d[a] = "Value"
print(d)

{'i1': 16, 'nombre': 'haskel', 'edad': 32, 20: 'el numero 20', 48: 'otro numero', 'nada': 0, 'New': 'Value'}

In [ ]:
for k,v in d.items():
    print("la clave", k, "tiene el valor", v)

la clave i1 tiene el valor 16
la clave nombre tiene el valor haskel
la clave edad tiene el valor 32
la clave 20 tiene el valor el numero 20
la clave 48 tiene el valor otro numero
la clave nada tiene el valor 0

## Tuples

tuples are **inmutable** lists

In [40]:
a = (10,3,4,5)
a, type(a)

((10, 3, 4, 5), tuple)

In [ ]:
a[3], a[::-1], sum(a)

(5, (5, 4, 3, 10), 22)

In [ ]:
a[3]=1

TypeError: 'tuple' object does not support item assignment

In [41]:
a.append("new")

AttributeError: 'tuple' object has no attribute 'append'

and thus can be used for keys, indexing, etc.

In [ ]:
d = {}
d["hola"] = 3
d[1] = "one"
d[(4,5)] = "a tuple"
d

{'hola': 3, 1: 'one', (4, 5): 'a tuple'}

however

In [43]:
d[[4,5]]

TypeError: unhashable type: 'list'